*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Hind Siliguri', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #fffaff;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
.hind-siliguri-light {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.hind-siliguri-regular {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hind-siliguri-medium {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hind-siliguri-semibold {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.hind-siliguri-bold {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 700;
  font-style: normal;
}
